
#deletePromptMain{
    background-color: whitesmoke;
    height: 80vh;
    width: 76vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden !important;
}

#deletePrompt{
    background-color: white;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* top: 20%; */
    /* left: 35%; */
    /* z-index: 0; */
    height: 40vh;
    width: 50vw;
    overflow: hidden;
    border: 2px solid black;

}